* {
    font-family: "Roboto", sans-serif;
}

.laneheader {
    background-color: darker(darker(@theme_bg_color));
    border-bottom: 2px solid black;
    padding: 6px 6px;
}

.laneheader button {
    border: none;
    text-shadow: none;
    padding: 0px;
    box-shadow: none;
    outline-offset: 0;
    opacity: 0.7;
}

.laneheader .name {
    font-weight: bold;
}

.laneheader .identity {
    font-size: 0.9em;
    opacity: 0.7;
}

.text-note.central .content {
    font-size: 1.3em;
}

.text-note .avatar {
    margin: 8px;
}

.text-note .avatar image {
    min-width: 64px;
    min-height: 64px;
}

.text-note {
    border-bottom: solid 1px alpha(grey, 0.3);
    min-width: 500px;
}

.text-note .right-column {
    padding-top: 8px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

.text-note label.text {
    padding: 10px;
    padding-left: 0;
 }

.text-note .content {
   font-size: 1em;
}

.reactions {
    padding: 5px 100px 0px 50px;
}

.reactions label {
    color: grey;
}

.replies {
    margin: 0 6px;
    padding: 12px;
    background-color: darker(@theme_bg_color);
    border: 1px solid black;
    border-radius: 8px;
}

.replies .reply {
    padding-bottom: 12px;
    border-bottom: 1px solid lighter(@theme_bg_color);
}

.replies .reply:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}

.replies .reply .author {
    margin-bottom: 6px;
}

.hidden-buttons button {
    /* border: none; */
    /* text-shadow: none; */
    padding: 6px;
    /* box-shadow: none; */
    border-radius: 0px;
    min-height: 0px;
    /* outline-offset: 0; */
}

.author button.author-name {
    font-weight: bold;
    background-image: none;
    background-color: transparent;
    border: none;
    text-shadow: none;
    padding: 0px;
    box-shadow: none;
    border-radius: 0px;
    min-height: 0px;
    outline-offset: 0;
    font-size: 1.1em;
}

.author button.author-name:hover {
    color: @fg_color;
}

.author label.author-pubkey {
    font-size: 0.9em;
    font-family: monospace;
    opacity: 0.7;
}

.author label.author-nip05 {
    opacity: 0.7;
}

.status {
    opacity: 0.6;
    font-size: 0.7em;
}

.statusbar {
    border-top: 2px solid darker(@theme_bg_color);
    padding: 0 8px;
    font-size: 0.9em;
}

.statusbar .relaystatus button {
    padding: 0 8px;
    border: none;
}

.profilebox {
    background-color: darker(@theme_bg_color);
    border-bottom: 2px solid darker(darker(@theme_bg_color));
    padding: 32px;
}

.profilebox label {
    margin: 2px 0 2px 12px;
}

.profilebox label.nip05 {
    opacity: 0.7;
}

.profilebox label.name {
    font-size: 1.1em;
    font-weight: bold;
}

.profilebox label.about {
    margin-top: 6px;
}

.profilebox label.pubkey {
    font-size: 0.85em;
    font-family: monospace;
    opacity: 0.5;
}

.form  {
    padding: 16px;
}

.form .label {
    opacity: 0.7;
}

.form textview {
    border: 2px solid lighter(lighter(@theme_bg_color));
    border-radius: 6px;
}
